fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pydantic
pydantic-settings
openai
httpx
slowapi
python-multipart
email-validator
tenacity
